ExpiresActive On
ExpiresDefault A1
Header append Cache-Control must-revalidate

<IfModule mod_rewrite.c>
    Options -MultiViews
    #Options +MultiViews

    RewriteEngine On
    RewriteBase /biz/app/GoClick/hh/sportspirit/web
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
